.popup__container {
  background: white;
  border-radius: 10px;
  width: 430px;
  max-width: 430px;
  min-width: 282px;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}

