.button__like {
  background: url(../../../images/button__like.svg) center no-repeat;
  background-size: 100%;
  height: 19px;
  width: 19px;
}

.button__like:active {
  opacity: 1;
  background: url(../../../images/button__like_active.svg) center no-repeat;
  background-size: 100%;
  height: 19px;
  width: 19px;
}
