.popup__save-btn {
  width: 358px;
  height: 50px;
  color: white;
  background: #000000;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 930px) {
  .popup__save-btn {
    width: 238px;
  }
}
