.card__like-btn {
  background: url(../../../images/card__like-btn.svg) center no-repeat;
  height: 22px;
  width: 22px;
}

.card__like-btn:active {
  opacity: 1;
  background: url(../../../images/card__like-btn_active.svg) center no-repeat;
}
